{% load static %}
<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"
        charset="utf-8"
        integrity="sha384-cCVCZkAjYNxaYKbM8lsArLznDF/SvMFr1jcZrvOpSTCa0W40ZAdLzHCEulnUa5i7"
        crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-locale-fr-2.35.2.js"
        charset="utf-8"
        integrity="sha384-Ms4xCIwjYwxmt5hM1RM6V/AsRmKHlnTIx2St/qRFreLhW6viPRZgG+7bEKnfAAR0"
        crossorigin="anonymous"></script>
<script>Plotly.setPlotConfig({locale: 'fr'});</script>
<script src="{% static 'js/charts.js' %}?v=1"></script>
